* {
            box-sizing: border-box;
        }
	 body {
            font-family: Arial;
            margin: 0;
        }

        .header {
            padding: 0;
            margin: 0;
            text-align: center;
            font-size: 20px;
        }
        .column {
            float: left;
            width: 28%;
            padding: 10px;
            height: 600px;
            border: medium solid #000000;
	    border-radius: 2%;
            margin: 1px;
        }
        .col2{
                width: 50%;
        }

        .col3{
            width: 21%
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        input[type=text],
        select {
            width: 70%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #000000;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=button],#code {
            width: 50%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=button]:hover {
            background-color: #45a049;
        }

        @media screen and (max-width: 600px) {
            .column {
                width: 100%;
            }
        }
	    .tex 
	{
	height: 120px;
	border: 3px solid #000000;
	border-radius:10%;
	font-size:20px;
	color:red;
	text-align:center;
	padding-top: 30px;
	font-family: Tahoma, sans-serif;
	background-color:'grey';
	
}
	    .pa
	    {
		    font-size:10px;
		    color:red;
	    }